[Unit]
#Before=display-manager.service getty@tty1.service
#Conflicts=plymouth-quit.service
Description=Live tool (graphical mode)
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service livesys-late.service

[Service]
ExecStart=/usr/sbin/livetool.sh
IgnoreSIGPIPE=no
Restart=always
RestartSec=5s
#Type=forking
#ExecStartPre=-/bin/plymouth quit
#TimeoutSec=0
#RemainAfterExit=no
#SysVStartPriority=99

[Install]
#WantedBy=graphical.target
Alias=display-manager.service
